In [27]:
import pandas as pd
import numpy as np

In [3]:
dict_data = {"a":1, "b":2, "c":3}
sr = pd.Series(dict_data)
print(type(sr))
print("\n")
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [4]:
list_data = ["2019-01-02", 3.14, "ABC", 100, True]
sr = pd.Series(list_data)
print(sr)
idx = sr.index
val = sr.values
print(idx, "\n", val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object
RangeIndex(start=0, stop=5, step=1)
 ['2019-01-02' 3.14 'ABC' 100 True]

In [6]:
tup_data = ("민수", "2017-04-08", "여", True)
sr = pd.Series(tup_data, index=["이름", "생년월일", "성별", "학생여부"])
print(sr)
print(sr[0])
print(sr["이름"])
print(sr[[1, 2]])
print("\n")
print(sr[["생년월일", "성별"]])
print(sr[1:])
print("\n")
print(sr["생년월일": "학생여부"])

이름              민수
생년월일    2017-04-08
성별               여
학생여부          True
dtype: object
민수
민수
생년월일    2017-04-08
성별               여
dtype: object


생년월일    2017-04-08
성별               여
dtype: object
생년월일    2017-04-08
성별               여
학생여부          True
dtype: object


생년월일    2017-04-08
성별               여
학생여부          True
dtype: object

In [7]:
df = pd.DataFrame([[15, "남", "덕영중"], [17, "여", "수리중"]],
                 index=["준서", "예은"],
                 columns=["나이", "성별", "학교"])

print(df, df.index, df.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중 Index(['준서', '예은'], dtype='object') Index(['나이', '성별', '학교'], dtype='object')

In [8]:
df = pd.DataFrame([[15, "남", "덕영중"], [17, "여", "수리중"]],
                 index=["준서", "예은"],
                 columns=["나이", "성별", "학교"])
df.rename(columns={"나이":"연령", "성별":"남녀", "학교":"소속"}, inplace=True)

df.rename(index={"준서":"학생1", "예은":"학생2" }, inplace=True)

print(df)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [10]:
exam_data = {"math": [90, 80, 70], "eng": [98, 89, 95],
            "music": [85, 95, 100], "gym": [100, 90, 90]}
df = pd.DataFrame(exam_data, index=["서준", "우현", "민아"])
print(df)
df2 = df.copy()
df2.drop("우현", axis=0, inplace=True)
print(df2)
df3 = df.copy()
df3.drop(["우현", "민아"], axis=0, inplace=True)
print(df3)

    math  eng  music  gym
서준    90   98     85  100
우현    80   89     95   90
민아    70   95    100   90
    math  eng  music  gym
서준    90   98     85  100
민아    70   95    100   90
    math  eng  music  gym
서준    90   98     85  100

In [12]:
exam_data = {"math": [90, 80, 70], "eng": [98, 89, 95],
            "music": [85, 95, 100], "gym": [100, 90, 90]}
df = pd.DataFrame(exam_data, index=["서준", "우현", "민아"])
label = df.loc[["서준", "우현"]]
position = df.iloc[[0,1]]
print(label)
print(position)

    math  eng  music  gym
서준    90   98     85  100
우현    80   89     95   90
    math  eng  music  gym
서준    90   98     85  100
우현    80   89     95   90

In [14]:
exam_data = {"이름": ["서준", "우현", "민지"],
             "수학": [90, 80, 70],
             "영어": [98, 89, 95], 
             "음악": [85, 95, 100], 
             "체육": [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print("\n")
math1 = df["수학"]
print(math1)
print("\n")
english = df["영어"]
print(english)
print("\n")
music_gym = df[["음악", "체육"]]
print(music_gym)
print("\n")

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  민지  70  95  100   90


0    90
1    80
2    70
Name: 수학, dtype: int64


0    98
1    89
2    95
Name: 영어, dtype: int64


    음악   체육
0   85  100
1   95   90
2  100   90

In [17]:
exam_data = {"이름": ["서준", "우현", "민지"],
             "수학": [90, 80, 70],
             "영어": [98, 89, 95], 
             "음악": [85, 95, 100], 
             "체육": [100, 90, 90]}
df = pd.DataFrame(exam_data)
df.loc[3] = 0
print(df)
df.loc[4] = ["동규", 90, 80, 70, 60]
print(df)
df.loc["행5"] = df.loc[3]
print(df)
ndf = df.set_index(["이름"])
print(ndf)
ndf2 = df.set_index("음악")
print(ndf2)
ndf3 = df.set_index(["수학", "음악"])
print(ndf3)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  민지  70  95  100   90
3   0   0   0    0    0
   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  민지  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60
    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   민지  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0
    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
민지  70  95  100   90
0    0   0    0    0
동규  90  80   70   60
0    0   0    0    0
     이름  수학  영어   체육
음악
85   서준  90  98  100
95   우현  80  89   90
100  민지  70  95   90
0     0   0   0    0
70   동규  90  80   60
0     0   0   0    0
        이름  영어   체육
수학 음악
90 85   서준  98  100
80 95   우현  89   90
70 100  민지  95   90
0  0     0   0    0
90 70   동규  80   60
0  0     0   0    0

In [21]:
dict_data = {"c0": [1, 2, 3], "c1": [4, 5, 6], "c2": [7, 8, 9], "c3": [10, 11, 12], "c4": [13, 14, 15]}
df = pd.DataFrame(dict_data, index = ["r0", "r1", "r2"])
print(df)
ndf = df.reset_index()
print(ndf)
ndf2 = df.sort_index(ascending=False)
print(ndf2)
ndf3 = df.sort_values(ny="c1", ascending=False)
print(ndf3)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15
    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

TypeError: sort_values() got an unexpected keyword argument 'ny'

In [23]:
student = pd.Series({"국어":100, "영어":80, "수학":90})
percentage = student/200
print(percentage)

국어    0.50
영어    0.40
수학    0.45
dtype: float64

In [25]:
student1 = pd.Series({"국어":100, "영어":80, "수학":90})
student2 = pd.Series({"수학":80, "영어":90, "국어":80})
addition = student1 + student2
subtraction = student1 - student2
result = pd.DataFrame([addition, subtraction], index=["덧셈", "뺄셈"])
print(result)

     국어   수학   영어
덧셈  180  170  170
뺄셈   20   10  -10

In [28]:
student1 = pd.Series({"국어":np.nan, "영어":80, "수학":90})
student2 = pd.Series({"수학":80, "국어":90})
addition = student1 + student2
subtraction = student1 - student2
result = pd.DataFrame([addition, subtraction], index=["덧셈", "뺄셈"])
print(result)

    국어     수학  영어
덧셈 NaN  170.0 NaN
뺄셈 NaN   10.0 NaN

In [29]:
student1 = pd.Series({"국어":np.nan, "영어":80, "수학":90})
student2 = pd.Series({"수학":80, "국어":90})
sr_add = student1.add(student2, fill_value = 0)
result = pd.DataFrame([sr_add], index=["덧셈"])
print(result)

      국어     수학    영어
덧셈  90.0  170.0  80.0

In [30]:
import seaborn as sns

In [32]:
titanic = sns.load_dataset("titanic")
df = titanic.loc[:, ["age", "fare"]]
print(df.head)
print("\n")
add = df+10
print(add.head())
subtraction = add - df
print(subtraction.tail())

<bound method NDFrame.head of       age     fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]>


    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500
      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0