In [2]:
import pandas as pd
import numpy as np

In [3]:
dict_data = {"a":1, "b":2, "c":3}
sr = pd.Series(dict_data)
print(type(sr))
print("\n")
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [4]:
list_data = ["2019-01-02", 3.14, "ABC", 100, True]
sr = pd.Series(list_data)
print(sr)
idx = sr.index
val = sr.values
print(idx, "\n", val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object
RangeIndex(start=0, stop=5, step=1)
 ['2019-01-02' 3.14 'ABC' 100 True]

In [6]:
tup_data = ("민수", "2017-04-08", "여", True)
sr = pd.Series(tup_data, index=["이름", "생년월일", "성별", "학생여부"])
print(sr)
print(sr[0])
print(sr["이름"])
print(sr[[1, 2]])
print("\n")
print(sr[["생년월일", "성별"]])
print(sr[1:])
print("\n")
print(sr["생년월일": "학생여부"])

이름              민수
생년월일    2017-04-08
성별               여
학생여부          True
dtype: object
민수
민수
생년월일    2017-04-08
성별               여
dtype: object


생년월일    2017-04-08
성별               여
dtype: object
생년월일    2017-04-08
성별               여
학생여부          True
dtype: object


생년월일    2017-04-08
성별               여
학생여부          True
dtype: object

In [7]:
df = pd.DataFrame([[15, "남", "덕영중"], [17, "여", "수리중"]],
                 index=["준서", "예은"],
                 columns=["나이", "성별", "학교"])

print(df, df.index, df.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중 Index(['준서', '예은'], dtype='object') Index(['나이', '성별', '학교'], dtype='object')

In [8]:
df = pd.DataFrame([[15, "남", "덕영중"], [17, "여", "수리중"]],
                 index=["준서", "예은"],
                 columns=["나이", "성별", "학교"])
df.rename(columns={"나이":"연령", "성별":"남녀", "학교":"소속"}, inplace=True)

df.rename(index={"준서":"학생1", "예은":"학생2" }, inplace=True)

print(df)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [10]:
exam_data = {"math": [90, 80, 70], "eng": [98, 89, 95],
            "music": [85, 95, 100], "gym": [100, 90, 90]}
df = pd.DataFrame(exam_data, index=["서준", "우현", "민아"])
print(df)
df2 = df.copy()
df2.drop("우현", axis=0, inplace=True)
print(df2)
df3 = df.copy()
df3.drop(["우현", "민아"], axis=0, inplace=True)
print(df3)

    math  eng  music  gym
서준    90   98     85  100
우현    80   89     95   90
민아    70   95    100   90
    math  eng  music  gym
서준    90   98     85  100
민아    70   95    100   90
    math  eng  music  gym
서준    90   98     85  100

In [12]:
exam_data = {"math": [90, 80, 70], "eng": [98, 89, 95],
            "music": [85, 95, 100], "gym": [100, 90, 90]}
df = pd.DataFrame(exam_data, index=["서준", "우현", "민아"])
label = df.loc[["서준", "우현"]]
position = df.iloc[[0,1]]
print(label)
print(position)

    math  eng  music  gym
서준    90   98     85  100
우현    80   89     95   90
    math  eng  music  gym
서준    90   98     85  100
우현    80   89     95   90

In [14]:
exam_data = {"이름": ["서준", "우현", "민지"],
             "수학": [90, 80, 70],
             "영어": [98, 89, 95], 
             "음악": [85, 95, 100], 
             "체육": [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print("\n")
math1 = df["수학"]
print(math1)
print("\n")
english = df["영어"]
print(english)
print("\n")
music_gym = df[["음악", "체육"]]
print(music_gym)
print("\n")

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  민지  70  95  100   90


0    90
1    80
2    70
Name: 수학, dtype: int64


0    98
1    89
2    95
Name: 영어, dtype: int64


    음악   체육
0   85  100
1   95   90
2  100   90

In [17]:
exam_data = {"이름": ["서준", "우현", "민지"],
             "수학": [90, 80, 70],
             "영어": [98, 89, 95], 
             "음악": [85, 95, 100], 
             "체육": [100, 90, 90]}
df = pd.DataFrame(exam_data)
df.loc[3] = 0
print(df)
df.loc[4] = ["동규", 90, 80, 70, 60]
print(df)
df.loc["행5"] = df.loc[3]
print(df)
ndf = df.set_index(["이름"])
print(ndf)
ndf2 = df.set_index("음악")
print(ndf2)
ndf3 = df.set_index(["수학", "음악"])
print(ndf3)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  민지  70  95  100   90
3   0   0   0    0    0
   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  민지  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60
    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   민지  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0
    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
민지  70  95  100   90
0    0   0    0    0
동규  90  80   70   60
0    0   0    0    0
     이름  수학  영어   체육
음악
85   서준  90  98  100
95   우현  80  89   90
100  민지  70  95   90
0     0   0   0    0
70   동규  90  80   60
0     0   0   0    0
        이름  영어   체육
수학 음악
90 85   서준  98  100
80 95   우현  89   90
70 100  민지  95   90
0  0     0   0    0
90 70   동규  80   60
0  0     0   0    0

In [21]:
dict_data = {"c0": [1, 2, 3], "c1": [4, 5, 6], "c2": [7, 8, 9], "c3": [10, 11, 12], "c4": [13, 14, 15]}
df = pd.DataFrame(dict_data, index = ["r0", "r1", "r2"])
print(df)
ndf = df.reset_index()
print(ndf)
ndf2 = df.sort_index(ascending=False)
print(ndf2)
ndf3 = df.sort_values(ny="c1", ascending=False)
print(ndf3)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15
    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

TypeError: sort_values() got an unexpected keyword argument 'ny'

In [23]:
student = pd.Series({"국어":100, "영어":80, "수학":90})
percentage = student/200
print(percentage)

국어    0.50
영어    0.40
수학    0.45
dtype: float64

In [25]:
student1 = pd.Series({"국어":100, "영어":80, "수학":90})
student2 = pd.Series({"수학":80, "영어":90, "국어":80})
addition = student1 + student2
subtraction = student1 - student2
result = pd.DataFrame([addition, subtraction], index=["덧셈", "뺄셈"])
print(result)

     국어   수학   영어
덧셈  180  170  170
뺄셈   20   10  -10

In [28]:
student1 = pd.Series({"국어":np.nan, "영어":80, "수학":90})
student2 = pd.Series({"수학":80, "국어":90})
addition = student1 + student2
subtraction = student1 - student2
result = pd.DataFrame([addition, subtraction], index=["덧셈", "뺄셈"])
print(result)

    국어     수학  영어
덧셈 NaN  170.0 NaN
뺄셈 NaN   10.0 NaN

In [29]:
student1 = pd.Series({"국어":np.nan, "영어":80, "수학":90})
student2 = pd.Series({"수학":80, "국어":90})
sr_add = student1.add(student2, fill_value = 0)
result = pd.DataFrame([sr_add], index=["덧셈"])
print(result)

      국어     수학    영어
덧셈  90.0  170.0  80.0

In [3]:
import seaborn as sns

In [8]:
titanic = sns.load_dataset("titanic")
df = titanic.loc[:, ["age", "fare"]]
print(df.head())
print("\n")
add = df+100
print(add.head())
print("\n")
subtraction = add - df
print(subtraction.tail())

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


     age      fare
0  122.0  107.2500
1  138.0  171.2833
2  126.0  107.9250
3  135.0  153.1000
4  135.0  108.0500


       age   fare
886  100.0  100.0
887  100.0  100.0
888    NaN  100.0
889  100.0  100.0
890  100.0  100.0

In [10]:
file_path = "read_csv_sample.csv"
df1 = pd.read_csv(file_path)
print(df1)
print("\n")
df2 = pd.read_csv(file_path, header=None)
print(df2)
print("\n")
df3 = pd.read_csv(file_path, index_col=None)
print(df3)
print("\n")
df4 = pd.read_csv(file_path, index_col="c0")
print(df4)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9


   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

In [11]:
df1 = pd.read_excel("남북한발전전력량.xlsx")
df2 = pd.read_excel("남북한발전전력량.xlsx", header=None)
print(df1)
print("\n")
print(df2)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]


          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

In [12]:
df = pd.read_json("read_json_sample.json")
print(df)

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True

In [13]:
url = "sample.html"
tables = pd.read_html(url)
for i in range(len(tables)):
    print("tables[%s]" % i)
    print(tables[i])
    print("\n")
df.set_index(["name"], inplace=True)
print(df)

tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True


      year        developer opensource
name
      2008    Wes Mckinneye       True
      2006  Travis Oliphant       True
      2003   John D. Hunter       True

In [15]:
df = pd.read_csv("auto-mpg.csv", header=None)
df.columns = ["mpg", "cylinders", "displacement", "horsepower", "weight",
                  "acceleration", "model year", "origin", "name"]
print(df.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

In [16]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB
None

In [17]:
print(df.dtypes)

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
name             object
dtype: object

In [19]:
print(df.describe())
print("\n")
print(df.describe(include="all"))

              mpg   cylinders  displacement       weight  acceleration  \
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090
std      7.815984    1.701004    104.269838   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000


               mpg   cylinders  displacement horsepower       weight  \
count   398.000000  398.000000    398.000000        398   398.000000
unique         NaN         NaN           NaN         95          NaN
top            NaN         NaN           NaN        150          NaN
freq           NaN         NaN           NaN         22          NaN
mean     23.514573    5.454774    193.425879        NaN  2970.424623
std       7.815984    1.701004    104.269838        NaN   846.841774
min       9.000000    3.000000     68.000000        NaN  1613.000000
25%      17.500000    4.000000    104.250000        NaN  2223.750000
50%      23.000000    4.000000    148.500000        NaN  2803.500000
75%      29.000000    8.000000    262.000000        NaN  3608.000000
max      46.600000    8.000000    455.000000        NaN  5140.000000

        acceleration  model year      origin        name
count     398.000000  398.000000  398.000000         398
unique           NaN         NaN         NaN         305
top              NaN         NaN         NaN  ford pinto
freq             NaN         NaN         NaN           6
mean       15.568090   76.010050    1.572864         NaN
std         2.757689    3.697627    0.802055         NaN
min         8.000000   70.000000    1.000000         NaN
25%        13.825000   73.000000    1.000000         NaN
50%        15.500000   76.000000    1.000000         NaN
75%        17.175000   79.000000    2.000000         NaN
max        24.800000   82.000000    3.000000         NaN

In [21]:
print(df.count())
print("\n")
print(type(df.count()))

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64


<class 'pandas.core.series.Series'>

In [22]:
unique_values = df["origin"].value_counts()
print(unique_values)

1    249
3     79
2     70
Name: origin, dtype: int64

In [28]:
print(df.mean())
print("\n")
print(df["mpg"].mean())
print("\n")
print(df[["mpg", "weight"]].mean())
print("\n")
print(df.median())
print("\n")
print(df["mpg"].median())
print("\n")
print(df.max())
print("\n")
print(df.min())
print("\n")
print(df.std())
print("\n")
print(df.corr())

mpg               23.514573
cylinders          5.454774
displacement     193.425879
weight          2970.424623
acceleration      15.568090
model year        76.010050
origin             1.572864
dtype: float64


23.514572864321615


mpg         23.514573
weight    2970.424623
dtype: float64


mpg               23.0
cylinders          4.0
displacement     148.5
weight          2803.5
acceleration      15.5
model year        76.0
origin             1.0
dtype: float64


23.0


mpg                         46.6
cylinders                      8
displacement               455.0
horsepower                     ?
weight                      5140
acceleration                24.8
model year                    82
origin                         3
name            vw rabbit custom
dtype: object


mpg                                 9.0
cylinders                             3
displacement                       68.0
horsepower                          100
weight                             1613
acceleration                        8.0
model year                           70
origin                                1
name            amc ambassador brougham
dtype: object


mpg               7.815984
cylinders         1.701004
displacement    104.269838
weight          846.841774
acceleration      2.757689
model year        3.697627
origin            0.802055
dtype: float64


                   mpg  cylinders  displacement    weight  acceleration  \
mpg           1.000000  -0.775396     -0.804203 -0.831741      0.420289
cylinders    -0.775396   1.000000      0.950721  0.896017     -0.505419
displacement -0.804203   0.950721      1.000000  0.932824     -0.543684
weight       -0.831741   0.896017      0.932824  1.000000     -0.417457
acceleration  0.420289  -0.505419     -0.543684 -0.417457      1.000000
model year    0.579267  -0.348746     -0.370164 -0.306564      0.288137
origin        0.563450  -0.562543     -0.609409 -0.581024      0.205873

              model year    origin
mpg             0.579267  0.563450
cylinders      -0.348746 -0.562543
displacement   -0.370164 -0.609409
weight         -0.306564 -0.581024
acceleration    0.288137  0.205873
model year      1.000000  0.180662
origin          0.180662  1.000000